/*Reinicia a cero todos los margenes del documento*/
* {
  margin: 0;
  padding: 0;
}

/*Formulario*/
.contenedor2 {
  padding: 5px;
  text-align: center;
}

/*Fondo del Cuerpo del sitio*/
body {
  margin: auto;
  /* background-image: url(../imagen/fondo.jpg); */
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
    url(../imagen/fondo.jpg);
}

/*Textos del Formulario*/
main form p {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin: 0px;
  color: #fff;
}

main form p.L1 {
  font-size: 30px;
  margin-bottom: 15px;
  text-shadow: 0.1em 0.1em 0.01em black;
}
main form p.L2 {
  font-size: 16px;
  text-shadow: 0.1em 0.1em 0.01em black;
}
main form p.L3 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.01em black;
}

.formulario {
  padding: 10px;
  margin: 10px;
}

.formulario input {
  width: 420px;
  padding: 10px;
  border-color: rgb(141, 132, 132);
  margin-bottom: 10px;
  font-size: 18px;
  border-radius: 10px;
  border-style: solid;
}

/*Margen de boton de inicio*/
main .contenedor1 input {
  margin-top: 80px;
}

/*MArgen de boton volver a inicio*/
.btn1 {
  margin-top: 60px;
}

/*Boton*/
input.btn,
input.btn1 {
  font-size: 22px;
  padding: 10px 18px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  background-color: #e50914;
  position: flex;
  align-content: center;
  margin-top: 50px;
}
input.btn1 {
  margin: 0;
}

/*Evento del Boton*/
input.btn:hover {
  background-color: #a51d23;
}

/* Margenes laterales de la cabecera*/
.cabecera {
  width: 90%;
  margin: auto;
}

/* Cabecera del sitio*/
header {
  padding: 30px 0;
  background-color: black;
}

/*Alineacion del Boton Iniciar sesion*/
nav {
  padding-top: 12px;
}

/* Boton de Iniciar sesion */
nav a {
  margin-left: 15px;
  font-size: 22px;
  padding: 10px 18px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  background-color: #e50914;
}

/* Evento del mouse sobre el boton*/
nav a:active,
nav a:hover {
  background-color: #a51d23;
  padding: 13px 18px;
}

/*Formato del header*/
header .cabecera {
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #e50914;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
/*Textos de inicio y pantalla salida*/
.contenedor3,
.bienvenida {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  color: #fff;
  text-shadow: 0.1em 0.1em 0.01em black;
}
.contenedor3{
  margin-top: 120px;
}
.bienvenida{
  margin-top: 160px;
}



/*Pie de pagina*/
footer {
  font-size: 15px;
  background-color: #000000;
  padding: 20px;
  text-align: right;
  position: absolute;
}

footer {
  bottom: 0;
  width: 100%;
  height: auto;
  align-self: flex-end;
}

.footer p {
  color: #fff;
  padding-right: 98px;
}

.contenedor1,
.contenedor3 {
  padding: 10px;
  text-align: center;
}

/*Letra de los botones*/
nav a,
input .btn {
  font-family: sans-serif;
}
